body {
    font-family: 'Noto Sans JP', sans-serif;
}

.from-box {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column
}

.glass {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    /* 背景色 */
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* ボーダー */
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(20px);
    /* ぼかしエフェクト */
    backdrop-filter: blur(20px);
    /* box-shadow: 0 5px 20px rgba(255, 152, 79, 0.5); */
    /* 薄い影 */
}

hr {
    background-color: #ffffff;
}

.login-button {
    display: flex;
    background: #ffffff;
    width: 50%;
    margin: 30px auto 0px auto;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid;
    border-color: gray;
    border-radius: 44px;
    align-items: center;
    justify-content: center;
}

.other-text {
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 70%;
}